/* This is the start of my css. */
body {
    font-family: 'Rubik', 'sans-serif';
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/* This is the header stuff. */
header {
background-color:#efebeb;
padding: 1rem 2vw;

}

header span { 
    margin: 0;
    color: #678eae;
    font-weight: 700;
    font-size: 1.8rem;
}