/* This is the start of my css. */
body {
    font-family: 'Rubik', 'sans-serif';
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/* This is the header stuff. */
header {
    background-color: #f8f4ea;
    padding: 1rem 2vw;
}

header span{
    margin: 0;
    color: #cc7025;
    font-weight: 700;
    font-size: 1.8rem;
}

/* This is the small screen navigation stuff. */

@media only screen and (max-width: 800px) {
    nav ul {
        margin: 0;
        padding: 0;
    }

    nav a {
        display: block;
        text-align: center;
        padding: .8rem;
        color: #644427;
        text-decoration: none;
        border: solid 1.5px #f8f4ea;
        font-weight: 700;
        text-transform: uppercase;
    }

    nav .active a {
        background-color: #969619;
        color: #f8f4ea;
        background-image: linear-gradient(to bottom, #969619, #6b6b12);
    }

} /* end small screen */



/* This is the LARGE screen navigation stuff */
@media only screen and (min-width: 801px) {

    nav {
        background-color: #969619;
    }

    nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
    }

    nav a{
        font-size: 1.2rem;
        text-decoration: none;
        color: #f8f4ea;
        font-weight: 700;
        display: block;
        padding: .8rem 2rem;
    }

    nav li.active a{
        background-color: #6b6b12;
        color: #969619;
    }

    nav a:hover{
        color: #6b6b12;
    }

} /* end LARGE screen */



/* This is me messing around with the hero page. */

.container {
    position: relative;
    width: 100%;
    height: 640px;
    background-image: url(Images/hero-image-stairs.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.blurb {
    background-color: #d6c6a1a5;
    font-weight: 400;
    font-size: large;
    padding: 1rem 2vw;
    position: absolute;
    top: 10%;
    left: 5%;
    right: 50%;
}

/* This is the main stuff. */

main {
    background-color: #f8f4ea;
    padding: 1rem 2vw;
}

main h1{
    color: #86b2a1;
    text-align: center;
    border: 4px solid #86b2a1;
    border-radius: .8rem;
    padding: .5rem;
    background-color: #c6d7c5;
}

main h2{
    color: #644427;
    margin-bottom: .2rem;
}

main h3{
    color: #cc7025;
}

main p{
    color: #644427;
    margin: .8rem;
}

main dl{
    margin-left: .8rem;
}

main dl dt{
    color: #644427;
    font-weight: 400;
    margin-bottom: .8rem;
}

main dl dd{
    color: #644427;
    font-size: .9rem;
    font-weight: 400;
    margin-left: 20px;
    padding: .2rem;
}

main ul{
    list-style-type: "-";
    color: #644427;
}

main ul li{
    padding: .5rem;
    font-weight: 400;
}

main address{
    color: #644427;
    font-style: normal;
    padding: .5rem;
    font-weight: 400;
}

/* This is formating for photos. */

figure.highlight {
    margin: 0 0 15px 15px;
    width: 45%;
    float: right;
}

figure.highlight img {
    width: 100%;
    height: auto;
}

figure.highlight figcaption {
    text-align: center;
    font-size: .74rem;
}

.hero {
    width: 100%;
    height: auto;

}

/* This is formatting for the gallery. */

div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
}

div.gallery img {
    border-radius: 5px;
}

div.gallery img:hover {
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
}

div.gallery figure {
    margin: 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #644427;
}

/* This is for formatting the commission form */

.commission fieldset {
    border: 1px solid #644427;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.commission legend {
    color: #644427;
    font-size: .8rem;
}

.commission label {
    margin: .5rem;
}

.commission label, .commission select, .commission textarea, .commission [type=text], .commission [type=tel] {
    display: block;
}

.commission [type=text], .commission [type=tel], .commission [type=email], .commission select {
    border: solid 1px #644427;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Rubik', 'sans-serif';
    font-weight: 300;
}

.commission textarea {
    height: 6rem;
    border: solid 1px #644427;
    padding: .3rem;
    width: 350px;
    border-radius: .3rem;
    font-family: 'Rubik', 'sans-serif';
    font-weight: 300;
}

.commission :required {
    background-color: rgba(134,178,161,0.1);
}

.commission [type=submit] {
    background-color: #86b2a1;
    border: solid;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}

/* This is fixes for different browsers. */

* {box-sizing: border-box;}

/* This is the footer stuff. */

footer {
    background-color: #c6d7c5;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    clear: both;
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}